<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.simpleconnect" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>SimpleConnectPlugin</name>
    <js-module name="SimpleConnectPlugin" src="www/SimpleConnectPlugin.js"><clobbers target="cordova.plugins.SimpleConnectPlugin" /></js-module>
     <platform name="android">
     <config-file parent="/*" target="res/xml/config.xml">
        <feature name="SimpleConnectPlugin">
            <param name="android-package" value="cordova.plugin.simpleconnect.SimpleConnectPlugin" /></feature>
    </config-file><config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/SimpleConnectPlugin.java" target-dir="src/cordova/plugin/simpleconnect/SimpleConnectPlugin" />
    </platform>
     <platform name="browser"><config-file parent="/*" target="config.xml">
        <feature name="SimpleConnectPlugin"><param name="browser-package" value="SimpleConnectPlugin" /></feature></config-file><js-module name="SimpleConnectPluginProxy" src="src/browser/SimpleConnectPlugin.js"><runs /></js-module>
     </platform>
</plugin>